.hide{
    display: none;
}

#r-basic-info-row {
    margin-bottom: 5px;
}

#info{
    background-color: #E7E7E7;
    overflow: hidden;
    padding: 2%;
    margin: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.step{
    margin-left: auto;
    margin-right: auto;
    color: grey;
    text-align: center;
}

.next{
    width: 20%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    /*padding: 0 18px;*/
    background-color: rgba(196, 192, 192, 0.993);
    display: none;
    overflow: hidden;

}

.r-class-button{
    display: block;
    background-color: #E7E7E7;
    padding: 4%;
    border: 0px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.r-step-button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background-color: rgb(160, 159, 159);
    font-weight: bolder;
    border: 1px solid grey;
}

h3{
    margin-left: auto;
    margin-right: auto;
}



.columns{
    display: inline-block;
    width: 20%;
    background-color: #E7E7E7;
    text-align: center;
    vertical-align: top;
    margin: 1%;
    
}

.course{
    list-style: none;
    padding: 2%;
    background-color: #b8b4b4;
}

.course:hover{
    background-color: grey;
    border: 1px solid black;
    cursor: pointer;
}

.select{
    background-color: grey;
    border: 1px solid black;
}

#basicInfo{
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#userTitle{
    color: white;
}

.regTitle{
    margin-top: 6%;
}

.desc{
    font-style: italic;
}

#confPage{
    background-color: #E7E7E7;
    overflow: hidden;
    padding: 2%;
    margin: 6%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#confInfo, #confCurrent, #confPrev{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#row1{
    background-color: #E7E7E7;
}

#row2{
    background-color: #E7E7E7;
}

.r-profile-title {
    margin-bottom: 20px;
    background-image: url("../images/text-background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 180px 15px;
    text-align: center;
}
  
.r-t1 {
    background-size: 120px 15px;
    text-align: center;
}
  
.r-profile-field {
    color: gray;
    display: inline;
}
  
.r-profile-value {
    width: 100%;
    display: inline;
}

.r-center-col-text {
    text-align: center;
}