.hide{
    display: none;
}

#info{
    background-color: #E7E7E7;
    overflow: hidden;
    padding: 2%;
    margin: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#name, #gradYr, #contact{
    margin-left: auto;
    margin-right: auto;
    margin: 1%;
    text-align: center;
}

.step{
    margin-left: auto;
    margin-right: auto;
    color: grey;
    text-align: center;
}

.next{
    width: 20%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    /*padding: 0 18px;*/
    background-color: rgba(196, 192, 192, 0.993);
    display: none;
    overflow: hidden;

}

button{
    display: block;
    background-color: #E7E7E7;
    padding: 4%;
    border: 0px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background-color: rgb(160, 159, 159);
    font-weight: bolder;
    border: 1px solid grey;
}

h3{
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin: 1%;
}

.columns{
    display: inline-block;
    width: 20%;
    background-color: #E7E7E7;
    text-align: center;
    vertical-align: top;
    margin: 1%;
    
}

.course{
    list-style: none;
    padding: 2%;
    background-color: #b8b4b4;
}

.course:hover{
    background-color: grey;
    border: 1px solid black;
    cursor: pointer;
}

.select{
    background-color: grey;
    border: 1px solid black;
}