<div *ngIf="reqShow">
    <div style="height: 100px;"></div>
        <div id="left-side">
            <div>
                <div class="btn-group-sm" role="group" aria-label="Basic radio toggle button group" >
                    <input #all (click)="currentOrPast(all)" type="radio" class="btn-check" name="btnradio" id="all" autocomplete="off" value="all" checked>
                    <label class="btn btn-outline-primary" for="all">All Classes</label>
                    <input #current (click)="currentOrPast(current)" type="radio" class="btn-check" name="btnradio" id="current" value="current" autocomplete="off">
                    <label class="btn btn-outline-primary" for="current">Current</label>
                    <input #past (click)="currentOrPast(past)" type="radio" class="btn-check" name="btnradio" id="past" value="past" autocomplete="off">
                    <label class="btn btn-outline-primary" for="past">Past</label>
                </div>
                <hr/>      
                <h6>By Major:</h6>        
                <div #container id = "container" class = 'options'> 
                    
                </div>
            </div>
            <hr/>

            <button class="btn btn-outline-primary" (click)="loadClassRequests(container)">Refresh</button>

        </div>
        <div id="right-side">
            <div id = 'outer'>
            <div #destination id = 'dest'>
                <p id="msg">Choose how you would like to filter the displayed requests then hit Refresh to
                see what questions you and your classmates have in the classes you are taking and have 
                already taken!
                </p>
                
            </div>
        </div>
            <div id = "reqnav">
                <button #prev id="previous" class="btn btn-outline-primary btn-sm hide" (click)="incrementReqs(prev)">Prev</button>
                <button #next id="next" class="btn btn-outline-primary btn-sm hide" (click)="incrementReqs(next)">Next</button>
                </div>
            <p #step id="step"></p>
        </div>
</div>
