/*index*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

#confirm, #edit{
  margin-top: 10%;
}

.row {
  background-color: white !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    margin: auto;
  }


* {
  font-family: Work Sans, sans-serif;
  font-weight: 500;
}

.profile-title {
  margin-bottom: 20px;
  background-image: url("../images/text-background.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 180px 15px;
}

.t1 {
  background-size: 120px 15px;
}

.profile-field {
  color: gray;
  font-size: 14px;
}

.profile-value {
  width: 100%;
}