<div *ngIf = "myRequestsShow">
<div style="height: 100px;"></div>
        <div id="left-side" style="width: 60%;">
            <h3>Current Requests</h3>
            <div #activeFilter id="activeFilter"></div>
            <button class="btn btn-outline-primary refresh" (click)="classFilter(activeFilter)">Refresh</button>
            <div id = 'actContainer'></div>
            <!--go through list of current requests-->
            <div id = "reqnav">
            <button #prevAct id="previousAct" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(prevAct)">Prev</button>
            <button #nextAct id="nextAct" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(nextAct)">Next</button>
            </div>
            <p #actstep id="actstep"></p>
            <hr>
            <h3>Expired Requests</h3>
            <div #expiredFilter id="expiredFilter"></div>
            <button class="btn btn-outline-primary refresh" (click)="classFilter(expiredFilter)">Refresh</button>
            <div id = 'expContainer'></div>
            <div id = "expnav">
                <button #prevExp id="previousExp" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(prevExp)">Prev</button>
                <button #nextExp id="nextExp" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(nextExp)">Next</button>
                </div>
                <p #expstep id="expstep"></p>
        </div>
        <div id="right-side" style="width: 40%;">
            <form id = "basicInfo">
                <div id = "info">
                    <!--<div>
                        <label for = "major">Major</label>
                        <input type="text" id="major" name = "major">
                    </div>
                    <div>
                        <label for = "code">Class Code</label>
                        <input type = "text" id = "code" name = "code">
                    </div>-->
                    <div>
                        <label for = "class">Class Name</label>
                        <input #class type="text" id="class" name = "class">
                    </div>
                    <div>
                        <label for = "msg">Message</label>
                        <input #msg type="textarea" id="msg" name = "msg">
                    </div>
                </div>
                <button type = "button" id = "basic" class = "btn btn-outline-primary" (click) = "addRequest(class, msg);">+ Create New</button>
            </form>
            <h3>Pending Requests</h3>
            <div #pendingFilter id="pendingFilter"></div>
            <button class="btn btn-outline-primary refresh" (click)="classFilter(pendingFilter)">Refresh</button>
            <div id = "penContainer"></div>
            <div id = "reqnav">
                <button #prevPen id="previousPen" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(prevPen)">Prev</button>
                <button #nextPen id="nextPen" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(nextPen)">Next</button>
                </div>
                <p #penstep id="penstep"></p>
            <hr>
            <h3>Answered Requests</h3>
            <div #answeredFilter id="answeredFilter"></div>
            <button class="btn btn-outline-primary refresh" (click)="classFilter(answeredFilter)">Refresh</button>
            <div id = "ansContainer"></div>
            <div id = "reqnav">
                <button #prevAns id="previousAns" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(prevAns)">Prev</button>
                <button #nextAns id="nextAns" class="btn btn-outline-primary btn-sm" syle="display:inline" (click)="incrementReqs(nextAns)">Next</button>
                </div>
                <p #actstep id="ansstep"></p>
        </div>
    </div>

